/* navbar */
body {
    margin: 0px;
    padding: 0px;
}

#navbar {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100px;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    /* opacity: 1; */

}

#navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 380px;
}


#navbar ul li {
    list-style: none
}

#navbar ul li a {
    margin: 18px;
    padding: 8px;
    font-size: 15px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

#navbar ul li a:hover {
    color: black;
    text-decoration: underline;
}


/* logo  */

#navbar .logo img {
    height: 75px;
    width: 90px;
    border: 2px solid red;
    border-radius: 50%;
    margin: 30px;
    margin-top: 10px;
    ;
}

/* HOME */
#home {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 0px;
    padding: 15px;
    height: 570px;
}

#home::before {
    content: "";
    background: url(../image/benz.jpg) no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    z-index: -1;
    opacity: 0.8;
}

.primary {
    font-size: 55px;
    font-family: "Audiowide", sans-serif;
    margin: 15px;
}

#home .box {
    display: flex;

}

#home .container {
    background-color: black;
    padding: 0px 518px;
    position: absolute;
    width: 483px;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0.4;
}



/* body  */
#body {
    margin: -8px;
    display: flex;
    flex-direction: column;
    background-color: #ad5e10;
    padding: 35px;
    height: 515px;
    width: 96%;
}

#body .main {
    margin: 0px;
    padding: -55px;
    display: flex;
    /* border: 2px solid brown; */
    align-items: center;
    justify-content: center;
}

#body .box {
    /* border: 5px solid grey; */
    padding: 20px;
    margin: 10px;
    height: 268px;
    width: 25%;
}

.box img {
    display: block;
    margin: auto;
    height: 140px;
    width: 140x;
    border-radius: 50%;
}

#body #box1 {
    background-color: white;
    box-shadow: 6px 6px #d39a60;
}

#body #box3 {
    background-color: white;
}

#body #box2 {
    background-color: #dbc4ae;
    box-shadow: 6px 6px white;
}

.third {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    margin-top: -20px;
    font-style: normal;
}

.body-h3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bodyhead {
    display: flex;
    text-align: center;
    justify-content: center;
}

.para {
    display: flex;
    text-align: center;
    justify-content: center;
}

/* ABOUT US  */
#about {
    /* border: 5px solid purple; */
    display: flex;
    flex-direction: row;
    height: 550px;
    width: 96.7%;
    padding: 26px;
    background-color: black;


}

 

#about .about-box {
    /* border: 2px solid yellow; */
    width: 47%;
    display: flex;
    margin: 7px;
}

#about .about-box .img1 {
    height: 89%;
    width: 61%;
    padding: 36px;
    margin: -35px;
}

#about .about-box .img2 {
    height: 180px;
    width: 280px;
    margin-top: 45%;
}

#about .about-box {
    color: white;
}

#about .about-detail {
    margin: 20px;
}

#about .about-detail .about-para {
    color: #ad5e10;
    font-size: 25px;
}

#about .about-detail .about-head {
    font-size: 40px;
}

#about .btn {
    height: 40px;
    width: 125px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 260px;
    cursor: pointer;
    box-shadow: 2px 2px red;
}

#about .btn:hover {
    background-color: #ad5e10;
}

/* CAR COLLECTION */

/* #collection{
    border: 5px solid green;
    display: flex;
    flex-direction: row;
    height: 1000px;
    width: 99.4%;

}

#collection .collection-box{
    display: flex;
    flex-direction: row;
    border:3px solid blue;
    width: 100%;
    height: 100%;
}
#collection .coll-box1{
    border: 3px solid red;
    height: 95%;
    width: 35%;
}
#collection .coll-box2{
    border: 3px solid black;
    height: 95%;
    width: 65%;
} */

#collection {
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 200px 700px;
    column-gap: 5px;
    row-gap: 5px;
    background-color: #d38c45;
}

#collection .coll-box {
    border: 3px dotted green;
}

.coll-box:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
}

#collection .coll-box .coll-head {
    color: black;
    margin: 61px;
}

#collection .coll-box .type-box {
    /* border: 3px solid black; */
    background-color: #ad5e10;
    width: 75%;
    height: 80%;
    margin: 58px;
    margin-top: 5px;
}

#collection .coll-box .type-box .text {
    margin: 35px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

#collection .coll-box .type {
    background-color: #d38c45;
    border: #d38c45;
    height: 25px;
    width: 100%;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-weight: bold;

}

#collection .coll-box .type:hover {
    background-color: black;
    color: #d38c45;
    border-radius: 5px;
}

/* BRANDS */

#brand {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px 200px 200px;
    grid-gap: 3px;
    /* width: 100%; */
    /* height: 700px; */
    background-color: black;


}

#brand .name {
    /* border: 2px dotted blue; */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#brand .name:first-child {
    grid-column-start: 1;
    grid-column-end: 5;
}

#brand .name .brand-head {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    margin-top: 70px;
    font-style: normal;
}

#brand .name img {
    height: 125px;
    width: 125px;
    border-radius: 50%;
}

#brand .name .brand-name {
    font-size: 20px;


}


/* CLIENT  */
#client {
    /* border: 4px solid rgb(226, 20, 20); */
    width: 100%;
    height: 475px;
    background-color: #dcbfa2;
}

#client .client-head {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    margin: 0px;
    padding: 45px;
    font-family: "Audiowide", sans-serif;

}

/* UPDATE  */
#update {
    background-color: black;
    width: 100%;
    height: 600px;
    margin: 0px;
}

#update .update-news {
    margin: 0px;
}

#update .update-heading {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* font-size: 35px; */

}

#update .update-heading .update-h1 {
    font-size: 35px;
    margin: 0px;
}

#update .update-cont {
    display: flex;
    margin: 20px 25px;
    flex-direction: row;
}

#update .update-cont .cont img {
    height: 200px;
    width: 445px;
    margin: 15px 17px;
}

#update .cont {
    /* border: 2px solid red; */
    color: white;
    width: 33%;
    height: 450px;
}

#update .cont .mudda {
    margin: 20px 20px;
    color: #d39a60;
}

#update .cont .date {
    margin: 0px 20px 20px;
}

#update .cont .more {
    margin: 25px 20px 20px;
    height: 25px;
    width: 100px;
    text-decoration: underline;
    color: white;
    background: black;
}

/* SEEN ON  */
#contact {
    background-color: #d39a60;
    /* width: 100%; */
    /* height: 600px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 500px 100px;
    grid-gap: 3px;


}

#contact .cont-box {
    border: 2px dotted black;
    /* background-color: red; */
}

#contact #merge {
    grid-column: 1/ span 4;
    /* background-color: black; */

}


